@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

:root {
    /* colors */
    --white-color: #FFFFFF;
    --gray-color: #3e3e3f;
    --orange-color: #e6872d;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .5s ease-out;
}

a {
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

/* loader starts */

.hideLoder {
    display: none;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4000;
    background-color: var(--gray-color);
}

.loader {
    border: .7rem solid var(--white-color);
    border-radius: 50%;
    border-top: .7rem solid var(--orange-color);
    width: 5rem;
    height: 5rem;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* loader ends */

/* upButton starts */

.upButton {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: -7rem;
    z-index: 2000;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .7s ease-in-out;
}

.upButton i {
    color: var(--white-color);
    font-size: 2.5rem;
}

.upBtnShow {
    right: 2rem;
}

/* upButton ends */

/* navBar starts */

.Header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../images/intro-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    color: var(--white-color);
    position: fixed;
    top: 0rem;
    right: 0;
    left: 0;
    z-index: 3000;
    transition: all .5s ease-in-out;
}

.visible {
    top: 0;
}

.invisible {
    top: -15rem;
}

.navBarColored {
    background-color: var(--gray-color);
}

nav .logo {
    font-size: 3rem;
    height: 5rem;
}

nav .logo img {
    height: 100%;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    font-size: 2rem;
}

nav ul li {
    border: none;
    border-radius: .3rem;
    padding: 1rem;
    cursor: pointer;
}

nav ul li:hover {
    background-color: var(--orange-color);
}

.menuBars {
    display: none;
}

.bars i {
    color: white;
    font-size: 3.2rem;
    cursor: pointer;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked+nav ul {
    right: 0;
}


.heroSection {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    overflow: hidden;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.address {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.address i {
    font-size: 4rem;
    color: var(--orange-color);
}

.heroSection h1 {
    color: var(--white-color);
    font-size: 8rem;
    text-align: center;
}

.heroSection h3 {
    color: var(--white-color);
    font-size: 5rem;
    background-color: var(--orange-color);
    padding: .5rem 2rem;
    border: none;
    border-radius: .5rem;
    text-align: center;
}

.heroSection h4 {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1rem;
    letter-spacing: .6rem;
    text-align: center;
}

.register-button {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.register-button i {
    background-color: var(--orange-color);
    color: white;
    font-size: 2.5rem;
    padding: 2rem;
    border: none;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}


.register-button i::after {
    animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

.register-button i::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--white-color);
    border-radius: 50%;
    z-index: -1;
}


/* header ends */

/* counter section starts*/

.counterSection {
    width: 100vw;
    height: 50vh;
    background-image: linear-gradient(rgba(230, 135, 45, 0.9), rgba(230, 135, 45, 0.95)), url("../images/counter.jpg");
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.counterSection .title h1 {
    color: var(--white-color);
    font-size: 4rem;
    text-align: center;
}

.counterSection .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.counterSection .counter .case {
    height: 15rem;
    width: 13rem;
    border: .2rem solid var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counterSection .counter .case .number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 4rem;
    width: 100%;
    height: 70%;
    font-weight: 600;
}

.counterSection .counter .case .text {
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: var(--white-color);
    padding: .5rem;
    color: var(--gray-color);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* counter section ends */

/* about starts */

.about {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 10rem;
    gap: 5rem;
}

.about .description,
.about .image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .image img {
    height: 100%;
    overflow: hidden;
}

.about .description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.about .description h1 {
    font-size: 4rem;
    color: var(--orange-color);
    text-transform: uppercase;
}

.about .description p {
    font-size: 1.8rem;
    color: var(--gray-color);
    text-transform: none;
    margin-top: 1rem;
}

.about .description .ligne {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 2rem;
    gap: 1rem;
    list-style: none;
}

.about .description .ligne p {
    font-size: 1.4rem;
}

.about .description .ligne i {
    font-size: 1rem;
    color: var(--orange-color);
}

/* about ends */

/* programme starts */

.programme {
    width: 100vw;
    display: flex;
    padding: 3rem 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url("../images/programme.jpg");
    background-position: center;
}

.programme .title h1 {
    font-size: 4rem;
    color: var(--orange-color);
    text-transform: uppercase;
}

.programme .imageProgramme {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programme .imageProgramme img {
    width: 50%;
}

/* programme ends */

/* registration starts */

.registration {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 3rem 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
    background-color: var(--white-color);
}

.registration .title h1 {
    font-size: 4rem;
    margin: 1rem;
    color: var(--orange-color);
    text-transform: uppercase;
}

.registration .formulaire {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.registration .formulaire form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
    background-color: var(--white-color);
}

.registration .formulaire form .sentence h4 {
    color: var(--orange-color);
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

.registration .formulaire .field {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: .5rem;
}

.registration .formulaire .field i {
    font-size: 2.5rem;
    color: var(--gray-color);
}

.registration .formulaire .field input,
.registration .formulaire .field select {
    font-size: 2rem;
    width: 100%;
    background-color: unset;
    text-transform: none;
}

.btns {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: unset;
    border: none;
    border-radius: .5rem;
}

.btn {
    width: 50%;
    height: 100%;
    gap: 2rem;
    padding: 2rem;
    border: none;
    border-radius: .5rem;
    color: var(--white-color);
    font-size: 1.8rem;
    cursor: pointer;
}

#btn-reset {
    background-color: var(--gray-color);
}

#btn-send {
    background-color: var(--orange-color);
    transition: all .5s ease-in-out;
}

#btn-send:hover {
    background-color: unset;
    border: .15rem solid var(--orange-color);
    color: var(--gray-color);
}

#btn-reset:hover {
    background-color: unset;
    border: .15rem solid var(--gray-color);
    color: var(--gray-color);
}

.errorMsg {
    font-size: small;
    background-color: #ff7979;
    color: #ffffff;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.8rem;
}

.successMsg {
    font-size: small;
    background-color: #2ecc71;
    color: #ffffff;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.8rem;
}

/* registration ends */

/* contact starts */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--gray-color);
}

.contact .title h1 {
    font-size: 3rem;
    color: var(--orange-color);
    text-transform: uppercase;
}

.contact .itemsContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 2rem;
    gap: .8rem;
    padding: 3rem;
    width: 100%;
    background-color: var(--gray-color);
}

.contact .itemsContact span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact .itemsContact span i {
    margin-right: .5rem;
}

/* contact ends */


/* custom scrollbar starts */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: rgba(211, 211, 211, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: var(--orange-color);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

/* custom scrollbar ends */



/* animations */

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        transform: scale(1.4);
        opacity: 0.4;
    }
}

/* animations ends */












/* media queries */


@media (max-width: 1250px) {

    html {
        font-size: 58%;
    }

    .Header {
        width: 100%;
    }

    .navBar {
        padding: 5rem 3rem;
    }

    nav ul {
        display: flex;
        position: absolute;
        right: -50%;
        top: 10rem;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        position: absolute;
        list-style: none;
        background-color: var(--gray-color);
        gap: 2rem;
        font-size: 2rem;
        padding: 3rem;
    }

    .menuBars {
        display: block;
    }

    .heroSection h1,
    .heroSection h3 {
        color: var(--white-color);
        font-size: 4rem;
    }

    .counterSection {
        padding: 0 3rem;
    }

    .counterSection .title h1 {
        font-size: 3rem;
    }

    .counterSection .counter .case {
        height: 12rem;
        width: 10rem;
        border: .2rem solid var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .counterSection .counter .case .text {
        font-size: 1.6rem;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding: 3rem;
    }

    .about .description,
    .about .image {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }

    .about .description h1 {
        font-size: 3rem;
        text-align: center;
    }

    .programme {
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
    }

    .programme .imageProgramme img {
        width: 100%;
    }

    .registration {
        padding: 3rem;
    }

    .registration .title h1 {
        text-align: center;
    }

    .registration .formulaire form {
        width: 100%;
        padding: 0;
    }

    .upButton {
        width: 5rem;
        height: 5rem;
    }

    .upButton i {
        color: var(--white-color);
        font-size: 2.5rem;
    }

    .contact .itemsContact span {
        font-size: 1.8rem;
    }

}


@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px) {

    html {
        font-size: 50%;
    }

}

@media (max-width: 450px) {

    html {
        font-size: 45%;
    }
}